<a href="https://colab.research.google.com/github/jeongeunseoo/23python3rd/blob/main/CTBC_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. 두가지 이상의 선택, 다방향 선택 구조 코딩
 - 배송료 처리 3가지로 코딩
 - 변수 : price
 - 조건 : 10만원 이상 배송료 0, 2만원 이상은 3천원, 2만원 이하면 5천원

In [ ]:
price = int(input("구입금액 입력 : "))        # 변수 price 사용자가 정수형 금액입력
if price >= 100000:                           # price의 값이 10만원보다 크거나 같으면
  shipping_cost = 0                           # 배송료(shipping_cost)는 0원
else:                                         # 그게 아니면
  if price >= 20000:                          # price 값이 2만원보다 크거나 같으면
    shipping_cost = 3000                      # 배송료(shipping_cost)는 3000원
  else:                                       # 그것도 아니면
    shipping_cost = 5000                      # 선택3. 배송료(shipping_cost)는 5000원
print(f'배송료는 {shipping_cost}원 입니다.')  # F-String문자 Format을 최종 배송료 출력

구입금액 입력 : 200000
배송료는 0원 입니다.

2. 반복구조를 이용한 "환영합니다."를 5번 출력하는 코드 작성
 - 변수 : Welcome
 - 출력내용 : 환영합니다.를 새로로 5번, 10번, 30번

In [ ]:
print("환영합니다")
print("환영합니다")
print("환영합니다")
print("환영합니다")
print("환영합니다")

환영합니다
환영합니다
환영합니다
환영합니다
환영합니다

In [ ]:
print("환영합니다.\n" *5)

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [ ]:
count = 1
while count <= 5:
  print("(", count, ")", "환영합니다.")
  count= count + 1

( 1 ) 환영합니다.
( 2 ) 환영합니다.
( 3 ) 환영합니다.
( 4 ) 환영합니다.
( 5 ) 환영합니다.

3. 0부터 9까지 출력하는 코드 작성
 - 변수 : x

In [ ]:
x = 0
while x < 10:
  #print(x)
  print(x, end=' ')
  x = x +1

0 1 2 3 4 5 6 7 8 9

In [ ]:
x = 0
while x <= 9:
  print(x, end=' ')
  x += 1

0 1 2 3 4 5 6 7 8 9

4. 1부터 10까지 합산하는 코드 작성

In [ ]:
x = 1
total = 0
while x <= 10:
  total += x
  #total = total + 1
  #x = x + 1
  x += 1
print(total)

55

5. 3-6-9 게임 (3의 배수 판단) : 3의 배수를 3으로 나누면 나머지가 0이 되므로 (i mod 3)의 값이 0이면 박수를 출력, 아니면 숫자를 출력하느 코드

In [ ]:
for num in range(1, 21):
  if num % 3 == 0:
    print("박수", end=' ')
  else:
    print(num, end=' ')

1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20

In [ ]:
num = 1
while num <= 20:
  if num % 3 == 0:
    print("박수", end=' ')
  else:
    print(num, end=' ')
  num += 1

1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20

6. 팩토라얼 계산하는 코드 작성
 - 1! = 1, 2! = 2(1)=2, 3! = 3(2)(1)=6

In [2]:
# 계산할 숫자를 입력받습니다.
num = int(input("팩토리얼을 입력할 숫자를 입력하시오.: "))

# 초기값으로 1을 선정합니다.
factorial = 1

# 팩토리얼 계산을 위한 반복문인 while입니다.
while num >= 1:                 # num 값이 1보다 크거나 같을 때 하위 문장(코드)를 진행
  factorial = factorial * num   # 현재 num 값을 factorial 값에 곱해줍니다.
  num -= 1                      # num 값을 1씩 감소시킵니다.

print(f'계산된 팩토리얼 값은 {factorial}입니다.')

팩토리얼을 입력할 숫자를 입력하시오.: 5
계산된 팩토리얼 값은 120입니다.

In [12]:
i = 5
factorial = 1
while i >= 10:
  factorial *= i
  i -= 1
  print(factorial)

7. 구구단 출력해주는 코드 작성
 - 변수 : dan
 - 반복문(1) : for문 사용
 - 반복문(2) : while문 사용

In [17]:
# for문 사용
dan = int(input("구구단에서 몇단을 사용할까요: "))
for i in range(1,10):
  print(dan, "x", i, "=", dan * i)

구구단에서 몇단을 사용할까요: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [18]:
# while문 사용
dan = int(input("구구단에서 몇단을 출력할래?: "))
i = 1
while i <= 9:
  print(dan, "x", i, "=", dan * i )
  i += 1

구구단에서 몇단을 출력할래?: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81